<ul class="list-group" style="opacity: 0.85;">
  <li class="list-group-item" *ngFor="let track of tracks">
    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex align-items-center">
        <iframe [src]="track.uri | spotifyTrustResource" width="300" height="80" frameBorder="0"
                allowtransparency="true"
                allow="encrypted-media"> </iframe>
      </div>
      <div class="d-flex">
        <div class="me-5">
          <div>
            <b>Track N°</b> {{track.track_number}}
          </div>
          <div>
            Popularidad: {{track.popularity}}
          </div>
        </div>
        <div>
          <img [src]="track.album.images[0].url | noImage" class="img-thumb " width="50px" />
        </div>
      </div>
    </div>
  </li>
</ul>